@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Verdana:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Futura:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Open Sans',Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Roboto',Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Lato',Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  /* color-scheme: light dark; */
  color: var(--dark);
  /* background-color: #242424; */
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLOR */
  --black: #000;
  --dark: #4f4e4e;
  --gray: #838383;
  --active: #7cc5b7;
  --warning: #f1c40f;

  --dangerous: #c57c7c;
  --pink-neon: #ea4c89;
  --gold-primary: #c8aa6e;
  --color-coffee : #f3ecdc;
  --lighter-dark :#202023;
  --white: #fff;
  --dark-blue :#34495e;
  --lighter-dark-blue: #607a92;
  --green : #87b6a1;
  --dark-green : #34453d;
  --gold-secondary : rgb(236 202 110);
  --purple-primary : #805ad5;
  /* Palette 1 */
  --background-color: #e6e2d3;
  --dark-gray: #484848;
  --medium-gray: #707070;
  --light-gray: #a8a8a8;
  --off-white: #f0f0f0;
  --bright-red: #ff6b6b;
  --bright-green: #54ff9f;
  --primary-color: #6200ee;
  --secondary-color: #f7f1e3;
  --accent-color: #ff9f1c;
 /* aethestic */
  --primary-color: #e74c3c;
  --secondary-color: #3498db;
  --accent-color: #f1c40f;
/* Pallete two */
  --background-color: #f0e7db;
  --primary-color: #9b59b6;
  --secondary-color: #3498db;
  --accent-color: #f1c40f;
  --light-gray: #c7c7c7;
  --dark-gray: #484848;
  --off-white: #f0f0f0;
  /* COMMON SIZING  */
  --header-height : 11rem;

  /* PADDING & MARGIN */

  --header--padding : 1rem 5rem;
  --page-padding: 4rem 5rem;

  /* TYPO */
  --text-medium: 1rem;
  --text-small: 0.75rem;
  --text-large: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;
  --text-7xl: 3rem;
  --text-9xl: 3.5rem;
  --text-11xl: 4rem;
  --text-13xl: 4.5rem;
  --text-15xl: 5rem;
  --roundedSmall: 5px;
  --roundedMedium: 10px;
  --roundedLarge: 15px;
  --roundedFull: 100%;
  --index-header: 20;
  --lineHeightMedium: 1.5;
  --greenLinear : linear-gradient(#36755E,#6FAF98)
  --z-index-modal :  50;
  --toastify-color-progress-success: var(--active);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background-color: transparent;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
  outline: none;
  border: none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark);
}
button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
.Toastify {
  position: absolute;
  z-index: 10000;
}

.pac-container {
  background-color: var(--color-coffee);
  border : 2px solid var(--dark-blue);
  border-top: none;
  padding : 1.5rem;
  border-radius: 0  0 var(--roundedSmall) var(--roundedSmall);
}
.pac-item {
  padding : 1rem 0.5rem ;
  font-size: var(--text-large);
  color: var(--dark-blue);
  font-weight: 600;
}
.pac-container::after{
  display: none;
}
.Toastify__toast-container {
  z-index: 10000!important; 
}
@media screen and (max-width: 1279.98px) {
  :root {
    font-size: 9px;
  }
}
@media screen and (max-width: 767.98px) {
  :root {
    font-size: 8px;
}
}
@media screen and (max-width: 374.98px) {
  :root {
    font-size: 7px;
  }
  
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

*::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  var(--active) 100%);
}

*::-moz-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

*::-moz-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

*::-moz-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  var(--active) 100%);
}
